{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "emv.payroc.com",
  "basePath": "/services/api.asmx/",
  "info": {
    "description": "# 1. IBX Services \n## IBX Services WSDLs\nThe IBX services can be accessed via the following URLs\n\n- https://gateway.ibxpays.com/ws/transact.asmx?wsdl    \n- https://gateway.ibxpays.com/ws/cardsafe.asmx?wsdl\n- https://gateway.ibxpays.com/ws/customfields.asmx?wsdl\n- https://gateway.ibxpays.com/vt/ws/trxdetail.asmx?wsdl\n- https://gateway.ibxpays.com/vt/ws/recurring.asmx?wsdl\n\n## IBX Services\n \n**Transact WSDL** provides information for the following transaction processing services:\n\n  - ProcessCreditCard\n  \n  - ProcessDebitCard\n  - ProcessCheck\n  - ProcessEBTCard\n  - ProcessGiftCard\n  - ProcessSignature\n  - ProcessCheck (Recurring Billing)\n  - ProcessCreditCard (Recurring Billing)\n  \n**TRXdetail WSDL** provides information for the following report processing services:\n\n- GetCardTrx\n\n- GetCardTrxSummary\n- GetCheckTrx\n- GetOpenBatchSummary\n\n**Recurring WSDL** provides information for the following recurring billing processing services:\n\n- ManageCustomer\n\n- ManageCreditCardInfo\n- ManageCheckInfo\n- ManageContract\n- ManageContractAddDaysToNextBillDt\n- AddRecurringCreditCard\n\n**CardSafe WSDL** provides information for the following storing credit card information processing services:\n\n- StoreCard\n\n- ProcessCreditCard\n\n**CustomFields WSDL** provides information for adding custom fields programmatically to a gateway account:\n\n- AddCustomField\n\n\n\n# 2. IMPLEMENTATION GUIDE \n\n# 2.1. SOAP \n\nThe SOAP interface is most easily accessed through a .NET application. If you are developing in .Net, simply add the URL of the web service – or of the specific service method – you are attempting to consume as a service reference in Visual Studio. Once you have added the service reference, Visual Studio will handle the bulk of the heavy lifting and will create a class for the web service and/or method you are attempting to access which will build the SOAP object for you and return a response in the form of an object.\n\nIt is important to note that we use SSL accelerators in our infrastructure.  If you are having trouble communicating with the web service check to see if the endpoint URL’s included in the WSDL file generated by the web reference are incorrectly set to ‘http://’ .  If so simply change them to ‘https://’ in whatever IDE you are working in, and you should have no trouble communicating with the web service.\n\nIf you are using a program language other than VB.NET or C#, and are not familiar with interacting with .NET web services, it is recommended that you integrate using HTTPS as it is far less complicated then building SOAP objects outside of an IDE, and will save a tremendous amount of time and headache. If you are familiar and comfortable using SOAP to consume .NET web services, navigate to the URL for each web service method you plan to consume for additional details regarding the XML SOAP schema.\n\nIf you are not using a Microsoft .NET framework to access the services, refer to the cURL, PHP, Node.js and Ruby [Implementation Examples](#section/9.1.Implementation-Examples) for examples on how to use these services in alternative environments.\n\nMost integrators will only need to concern themselves with the ProcessCreditCard web service. However, if additional functionality is required, our web services have been labeled intuitively, and the functionality exposed in each service is implied in the title.\n\nThe API is broken up into categories according to functionality to ease this further.\n\nIf you have any development specific questions, please contact our technical support center at the following email address:  support@ibxpays.com.\n\n\n# 2.2. Name-Value Pairs \nThe Name-Value Pairs implementation relies on the .NET framework’s built in HTTP to SOAP translation layer. As a result, there are a few idiosyncracies that an integrator must be aware of when implementing using HTTPS.\n\n\n1. The .NET framework is taking the HTTPS request and building a SOAP object using the fields that it receives.\n\n2. As a result, regardless of whether or not a field’s VALUE is required, the field name must be sent along with the request.\n\n3. Although this may seem counter intuitive, the .NET web service will simply build the SOAP object using only the fields that are passed to it.\n\n4. If a field name is not included in the request, the SOAP object will be built without that parameter, thus resulting in an improperly formed SOAP object that will be rejected by the web service.\n\n5. To avoid this, each field name must be sent even if you are not passing a value to the service. You must send the field EVEN if the API indicates that the field is not required, but send the field with a ‘NULL’ value. Eg; “CustomerName=”\n\n6. Remember, the request MUST include all field names, but when deciding whether to send a value in a specific field you can rely on the API to indicate whether a specific field requires a value in order to return a valid result\n\nWhen calling a service using HTTPS, you must also use a slightly different URL. This URL is displayed for each web service in the API under the heading ‘Service Location’. Please make sure that when implementing using Name-Value Pairs over HTTPS that you are sending the request to the URL labeled ‘For standard HTTPS connections’.\n\nFor additional detail regarding HTTPS GET or POST format, navigate to the service URL labeled ‘For SOAP connections and scroll down to view properly formed GET and POST requests for each service.\n\nMost integrators will only need to concern themselves with the ProcessCreditCard web service. However, if additional functionality is required, our web services have been labeled intuitively, and the functionality exposed in each service is implied in the title.\n\nThe API is broken up into categories according to functionality type to ease this further.\n\nIf you have any development specific questions, please contact our technical support center at the following email address: support@ibxpays.com\n\nTable of contents for test forms can be located at: https://gateway.ibxpays.com/ws/\n\n# 3. Transaction Processing \n\n# 3.1. ProcessCreditCard \nThis web service is used whenever a transaction is completed via customer credit card.\n\n## Request\nProcessCreditCard(UserName, Password, TransType, CardNum, ExpDate, MagData, NameOnCard, Amount, InvNum, PNRef, Zip, Street, CVNum, ExtData)\n\n## Request Example\nNote: This example assumes that two [custom fields have been created](#section/8.1.-AddCustomField) (one a numeric the other a string). Remove the CustomFields XML if attempting to use without custom fields.\n\n\n```\nSmartPaymentsSoapClient transact = new SmartPaymentsSoapClient(\"SmartPaymentsSoap\");\n\ntransactResponse = transact.ProcessCreditCard(\n    \"username\", \"password\", \"Sale\", \"4012888888881881\",\n    \"1216\", \"\", \"Barney Rubble\", \"200\", \"666\", \"\", \"\", \"\", \"999\",\n    @\"<EntryMode>MANUAL</EntryMode><TipAmt>3.85</TipAmt><RegisterNum>2</RegisterNum>\n        <CustomFields>\n            <FruityPebbles>18</FruityPebbles>\n            <CocoaPebbles>Chocolate goodness</CocoaPebbles>\n        </CustomFields>\"\n        );\n```\n\n## Response\n\nAuthCode, ExtData, GetAVSResult, GetAVSResultTXT, GetCommercialCard, GetCVResult, GetCVResultTXT, GetStreetMatchTXT, GetZipMatchTXT, HostCode, Message, Message1, Message2, PNRef, RespMSG, Result\n\n## Response Example\n  ```\nAuthCode \"TAS202\" string\nAuthorizedAmount null string\nBalance null string\nExtData \"InvNum=666,CardType=VISA\" string\nGetAVSResult \"0\" string\nGetAVSResultTXT \"Issuer did not perform AVS\" string\nGetCVResult \"M\" string\nGetCVResultTXT \"Match\" string\nGetCommercialCard \"False\" string\nGetGetOrigResult \"\" string\nGetStreetMatchTXT \"Service Not Requested\" string\nGetZipMatchTXT \"Service Not Requested\" string\nHostCode \"000000000926896\" string\nHostURL \"\" string\nMessage \"\" string\nMessage1 \"\" string\nMessage2 \"\" string\nPNRef \"3413610\" string\nReceiptURL null string\nRespMSG \"Approved\" string\nResult 0 int\n```\n\nView [Transaction Response Fields.](#section/transaction-response-fields)\n\n## ProcessCreditCard Input Parameters\nUnless noted otherwise, the parameter is **required.**\n\n| Parameter Name | Description \n|-----|-----\n| UserName | User name assigned in the payment server. The user must have an appropriate level of access within the system in order to utilize the web service.\n| Password | Password associated with the user name provided. \n| TransType | Identifies the type of credit card transaction being made.\n| | Valid values are:\n| |  - Sale – make a purchase using a credit card|\n| |  - Auth – authorize the amount on a credit card|\n| |  - Return – credits the card holder’s account\n| |  - Void – undo an unsettled transaction\n| |  - Force – force an Auth transaction in to the current batch (PostAuth) or place a transaction not processed through the payment server into the current batch (ForceAuth). Note: When using this transaction type for a ForceAuth, you must include an AuthCode under the ExtData parameter.\n| | - RepeatSale – perform a recurring billing or installment payment transaction|\n| | Processors supporting the restaurant adjustment function only:\n| |   - Adjustment – used to modify an existing tip amount for an original sale To call the service\n| | Terminal-based processors only:\n| |  - Capture – settle a single transaction in the current batch\n| |  - Reversal – perform a manual full reversal on a credit card or repeat sale within 24 hours of the original transaction. See [Reversal Transactions.](#section/reverse)\n| CardNum |Credit card number used to uniquely identify the card owner’s account.\n  Required on all swiped CC transactions|\n| ExpDate | Credit card date of expiration in MMYY format.\n|Required on all swiped CC transactions |\n| MagData | Track data encoded in the magnetic stripe of a credit card. The data will follow the following format:\n| Not required for CaptureAll | %B5149612222222229^FDCS/TEST CHECK CARD^12041011234567  \n| required for swiped/card present transactions | 440?;5149612222222229=12041011234567440?\n|  | This parameter must contain the full magnetic read in order to be classified as a ‘card present’ transaction\n| NameOnCard| Card owner’s name as it appears on the card.\n| Optional unless required by merchant’s processor setup | See  [Invalid Character Processing.](#section/invalidchar)\n| Amount| Total transaction amount in DDDD.CC format.\n| Required for swiped/card present transactions | \n| InvNum| The invoice ID is assigned by the merchant. This identifier can be used to locate a specific transaction or multiple transactions grouped under a single invoice.\n| Optional | \n|  | See [Invalid Character Processing.](#section/invalidchar)\n|  | View the [ExtData Parameters Table](#section/_Toc455564524) for more information.\n| PNRef | Unique payment reference number used to identify a single transaction within the system. The payment reference number \n| Required on Force and Capture transactions | (PNRef) is assigned by the payment server at the time the transaction is created.\n| Zip | Card owner’s billing address five-digit postal/zip code.\n| Optional unless required by merchant’s setup | See [Invalid Character Processing.](#section/invalidchar)\n| CVNum | Card verification number.\n| Optional unless required by merchant’s setup| \n|ExtData| The ExtData parameter allows you to pass additional information to the web service that is not covered under the input parameters.\n|Optional| ExtData values need not be placed in any particular order; however, they must be properly formatted using XML tags. View the [ExtData Parameters Table](#section/_Toc455564524) for more information.\n\n## ExtData Parameters Table\nView the ExtData Examples and Parameters Table below for available parameters.\n\n## ExtData Parameter Examples\nExample 1\n\n```\n<EntryMode>MANUAL</EntryMode>\n<TipAmt>3.85</TipAmt>\n<TaxAmt>1.12</TaxAmt>\n```\n\nExample 2\n```\n<LineItemDetail>\n<LineItem>\n<Amout>3.00</Amount>\n<CommodityCode>Commodity</CommodityCode>\n<Description>Description</Description>\n<DiscountAmount>.50</DiscountAmount>\n<DiscountIncluded>True</DiscountIncluded>\n<ProductCode>1234</ProductCode>\n<Quantity>1.00</Quantity>\n<TaxAmount>0</TaxAmount>\n<TaxInvoiceNumber></TaxInvoiceNumber>\n<TaxRate>0</TaxRate>\n<TaxIncluded>False</TaxIncluded>\n<UnitOfMeasure>BushelUS</UnitOfMeasure>\n<UnitPrice>3.5100</UnitPrice>\n<UPC>8675309</UPC>\n</LineItemDetail>\n```\n\n**To view the contents of the ExtData Parameters table click**\n\n| ExtData Parameters | Description \n|-----|-----\n| Authorization Code | Original authorization/approval code. \n| Required when | Valid format is:\n| TransType=Force |\n|  | <AuthCode>_AuthorizationCode_</AuthCode> where _Authorization Code_ is the original authorization or approval code.\n| Customer Code Optional| Customer or purchase order (PO) number used with Level II information for Global Payments only (if using another processor that supports Level II, use the PO Number to pass this information instead).\n|  | See [Invalid Character Processing.](#section/invalidchar) \n|  | Valid format is:\n|  | <CustCode>_CustomerCode_</CustCode> where _Customer Code_ is the number assigned to identify the customer or the PO number.\n| Convenience Amount Optional| Allows the merchant to add a flat fee to the total transaction to cover the cost of paying in a more convenient way for the customer (Eg. Online vs. in person at the municipal center). This function may be used by utility companies, government agencies, and schools.\n|  | Valid format is:\n|  | <ConvenienceAmt>_Amount_</ConvenienceAmt> where _Amount_ is the value to be added to the total transaction in DDDD.CC format.\n| Surcharge Amount Optional| Allows the merchant to add a fee to the total transaction to recoup the costs of offering the credit card transaction. This is different from a Convenience Fee (above) as that fee is for the added cost of offering the service in a more convenient way (pay for tickets online rather than in person).\n|  | Valid format is:\n|  | <SurchargeAmt>_Amount_</SurchargeAmt> where _Amount_ is the value to be added to the total transaction in DDDD.CC format.\n| Tip Amount Optional| Allows the customer to specify a dollar amount that is already included in the total amount for the purpose of tipping.\n|  | Valid format is:\n|  | <TipAmt>_Amount_</TipAmt> where _Amount_ is the value of the tip already included in the total transaction in DDDD.CC format.\n| Tax Amount Optional| Allows the merchant to add a dollar amount to the total transaction to cover sales tax.\n|  | Valid format is:\n|  | <TaxAmt>_Amount_</TaxAmt> where _Amount_ is the value to be added to the total transaction in DDDD.CC format.\n| Tax Exempt Optional| Allows the merchant to declare whether the transaction is tax exempt. The default value for this is F (false) when not supplied.\n|  | Valid format is:\n|  | <TaxExempt>_T_</TaxExempt> where _T_ or _TRUE_ denotes the transaction is tax exempt and _F_ or _FALSE_ would indicate it is taxable.\n| Sequence Number Optional| Identifies the payment order with a repeat sale or installment transaction. For example, payment 1 of 4.\n|  | Valid format is:\n|  | <SequenceNum>_SequenceNum_</SequenceNum> where _SequenceNum_ is any positive integer less than or equal to the SequenceCount.\n| Sequence Count Optional| Identifies the total number of charges that will be made for a repeat sale or installment transaction. For example, 4 payments must be made to complete the payment.\n|  | Valid format is:\n|  | <SequenceCount>_SequenceCount_</SequenceCount> where _SequenceCount_ is any positive integer greater than or equal to the _SequenceNum_.\n| Server ID | Unique server identification number. \n| Optional|  See [Invalid Character Processing.](#section/invalidchar). Valid format is:<ServerID>_ServerID_</ServerID> where _ServerID_ uniquely identifies the payment server used.\n| Time Out Optional| Processor time out value in seconds. The default value for the parameter is 30 seconds for a transaction and 300 seconds for a settlement transaction.\n|  | Valid format is:\n|  | <TimeOut>_TimeOut_</TimeOut> where _TimeOut_ is the processor time out value in seconds.\n| Training Mode Optional| This is an indicator that specifies whether transactions will be processed for local loop back testing or treated normally.\n|  | Valid formats are:\n|  | <TrainingMode>T</TrainingMode> where _T_ (true) indicates that training mode is active and transactions are processed for local loop back testing.\n|  | <TrainingMode>F</TrainingMode> where _F_ (false) indicates that training mode is inactive and transactions should be treated normally.\n| Transaction ID Optional | Merchant-assigned numerical string passed along with an original transaction that can be used for identification and voids.\n|  | Valid format is:\n|  | <TransactionID>_TransactionIdentifierValue_</TransactionID> where _TransactionIdentifierValueis_ a numerical string.\n| Target Optional | Identifies the target transaction ID for the original transaction you wish to void without the use of a PNRef.\n|  | Valid format is:\n|  | <Target>_TransactionIdentifierValue_</Target> where _TransactionIdentifierValue_ is a numerical string identifying the original transaction.\n| Force Optional |This is an indicator that specifies whether or not duplicate transactions will be processed.\n|  | Valid formats are:\n|  | <Force>_T_</Force> where _T_ (true) indicates that duplicate transactions are accepted.\n|  | <Force>_F_</Force> where _F_ (false) indicates that duplicate transactions are not accepted.\n|  | Note: Some processors, including Concord EFS, will not recognize this tag and delete duplicate transactions.\n| Register Number  | Unique identifier for a specific register.\n| Optional |See [Invalid Character Processing.](#section/invalidchar).\n|  | Valid format is:\n|  | <RegisterNum>_RegisterNum_</RegisterNum> where _RegisterNum_ is a valid unique identifier assigned to a specific register.\n| City  | City name for the card owner’s billing address.\n| Depending on processor, may be required |See [Invalid Character Processing.](#section/invalidchar).\n|  | Valid format is:\n|  | <City>_City_</City> where _City_ is the card owner’s city name.\n| Bill-To State  | Two-character state code for the card owner’s bill-to address.\n| Depending on processor, may be required |See [Invalid Character Processing.](#section/invalidchar).\n|  | Valid format is:\n|  | <BillToState>_BillToState_</BillToState> where _BillToState_ is the two-character state code for the card owner’s bill-to address.\n| Customer ID |Identification number assigned to the customer by the merchant.\n| Optional| \n|  | Valid format is:\n|  | <CustomerID>_CustomerID_</CustomerID> where _CustomerID_ is the customer’s assigned customer ID.\n| Purchase Order (PO) Number | Customer or PO number used with Level II information.\n| Optional| See [Invalid Character Processing.](#section/invalidchar).\n|  | Valid format is:\n|  | <PONum>_PONum_</PONum> where _‘PONum’_ is the number assigned to identify the customer or the PO.\n|  | Note: If using Level II with Global Payments, use the CustCode to pass this information instead.\n| Bill Payment | This is an indicator that specifies whether or not the transaction is being used to pay a utility bill. It is only supported when TransType = Sale or RepeatSale.\n| Optional| \n|  | Valid formats are:\n|  |<BillPayment>_T_</BillPayment> where _T_ (true) indicates that the transaction is being used to pay a utility bill.\n|  |<BillPayment>_F_</BillPayment> where _F_ (false) indicates that the transaction is being used for something other than a utility bill.\n|  | Note: This tag is only relevant to Retail, MOTO, and ecommerce markets. The information is currently supported by Vital, First Data North, and Global Payments processors. Other processors may be supported in the future.\n| Custom Fields | This tag is used to pass along information arbitrary custom information into a custom fields for the transaction.\n| Optional| Within the CustomFields tag a tag is created that has the name of the specific custom field to be defined where the value is then stored as the tag value. These names are not allowed to have spaces or special characters.\n|  | For example: If you had two custom fields (FruityPebbles and CocoaPebbles) and you wanted to pass the values of “18” FruityPebbles and a value of “Chocolate goodness” as the value of CocaoPebbles then the valid format would be:\n|  |<CustomFields>\n|  |<FruityPebbles>18</FruityPebbles>\n|  |<CocoaPebbles>Chocolate goodness</CocoaPebbles>\n|  |</CustomFields>”\n| Token Request | The RequestToken tag is used to request a token be returned for the initiating transaction. The token will be returned in the ExtData of the response\n| Optional| \n|  | Valid formats are:\n|  | <RequestToken>1</RequestToken> where “1” denotes a valid   “jstoken” type. Other types will be supported in future versions of the API\n| Entry Mode | Indicates how the values for payment information were obtained.\n| Optional| \n|  | Valid formats are:\n|  | <EntryMode>UNKNOWN</EntryMode> where _unknown_ indicates that the mode of entry is unknown.\n|  |<EntryMode>MANUAL</EntryMode> where _manual_ indicates that the payment values were manually entered.\n|  |<EntryMode>MagneticStripe</EntryMode> where _MagneticStripe_ indicates that the payment values were entered via magnetic stripe card reader (swiped card).\n|  |<EntryMode>ICC</EntryMode> where _ICC_ indicates that the mode of entry is Instant Card Clearing.\n|  |<EntryMode>PROXIMITY</EntryMode> where _proximity_ indicates that the payment values were entered via proximity card reader.\n| AMEX Batch Phase | When working with AMEX batch settlement, the Phase value can be used to determine the phase of the settlement file.\n| Optional| \n|  | Valid formats are:\n|  | <Phase>Confirm</Phase> where Confirm indicates that the batch is ready to settle\n|  |<Phase>Submit</Phase> where Submit indicates that the batch has been submitted to the payment processor\n|  |<Phase>None</Phase> where None indicates that no action has occurred\n|  |Note: Batches must be submitted before they can be settled (Confirm). If you send a “confirm” only, the most recently submitted batch will be settled.\n| IIAS Indicator |When working with healthcare applications it is necessary to comply with inventory information approval system merchant certifications.\n| Optional| The IIAS indicator will inform the gateway that it is about to process a healthcare transaction. Once that is configured associated parameters are passed to indicate the type of healthcare charges to be considered. The default value is F\n|  | Valid Examples are:\n|  | <IIAS_Indicator>T</IIAS_Indicator>\n|  |If this tag is not included the default is F (false) to indicate that this is not a healthcare transaction.\n|  |If the tag is included then some of the following parameters also need to be included in the ExtData\n|  |<QHP_Amount>120.00</QHP_Amount> where this denotes the total amount of Clinic or other qualified medical items.\n|  |<RX_Amount>100.00</RX_Amount> where this denotes the total amount of Prescription/Rx (℞) items.\n|  |<Vision_Amount>80.00</Vision_Amount> where this denotes the total amount of Vision or Optical items.\n|  |<Dental_Amount>300.00</Dental_Amount> where this denotes the total amount of Dental items.\n|  |<Clinical_Amount>600.00</Clinical_Amount> where this denotes the sum total of all medical items.\n|  |Note: These tags are not nested within the <IIAS_Indicator> tag but rather at the same level. They are only documented at this way to make it clear when to use these tags.\n| External IP| When using the Transact web service, the IP address defaults to the calling computer’s IP. If the request is coming from an external source, the external IP address can be substituted for the purpose of logging and fraud control.\n| Optional | To implement this IP pass through functionality, the following XML node should be included in the external data field of the web service call\n|  |<ExternalIP>IP Address Here</ExternalIP>\n|  | If the ExternalIP node is not included in the external data field, then the default behavior of using the callers IP address is used.\n| Client Data| When using the Transact web service, the API allows a client pass through data via the Client Data mechanism.  This data can be alphanumeric.\n| Optional | <ClientData>Arbitrary Data Here</ClientData>\n|  |The ClientData can be used to pass through various POS or Client data related to the transaction.\n\n# 3.2. ProcessDebitCard \nThis web service is used whenever a transaction is completed via a customer debit card.\n\n## Request\nProcessDebitCard(UserName, Password, TransType, CardNum, ExpDate, MagData, NameOnCard, Amount, InvNum, PNRef, Pin, RegisterNumber, SureChargeAmt, CashBackAmt, ExtData)\n\n## Response\nIBXTransact.Response\n\nView [Transaction Response Fields.](#section/transaction-response-fields)\n\n## ProcessDebitCard Input Parameters\nUnless noted otherwise, the parameter is **required**.\n\n| Parameter Name| Description \n|-----|-----\n| UserName | User name assigned in the payment server. The user must have an appropriate level of access within the system in order to utilize the web service.\n|Password |    Password associated with the user name provided.\n| TransType| Identifies the type of debit card transaction being made.\n| | Valid values are:\n| | - Sale – make a purchase using a debit card\n| | - Return – credits the card holder’s account\n| | - Reversal – perform a manual full reversal on a debit card sale within 24 hours of the original transaction. The expected behavior of this transaction type is defined by the type of the payment processor the merchant account is configured for. See [Credit Card Reversals.](#section/reverse)\n| | - Inquire – check the balance\n| | BuyPass fuel transactions only:\n| | - Auth – authorize the amount on a debit card\n| | - Force – force an Auth transaction in to the current batch (PostAuth)Terminal-based processors only:\n| | - Capture – settle a single transaction in the current batch\n| | Terminal-based processors and host-based processors supporting batch release feature only:\n| | - CaptureAll – settle all transactions in the current batch\n| | Global Canadian Debit :\n| | - AddReversal – used when the host sends a response and the information is validated through the pin pad, if the information is found to be invalid. This transaction type can reverse the transaction sent to the host. The PNREF number of the original transaction can be sent along with the AddReversal transaction type to perform the reversal of that transaction.\n| CardNum\n  Not required for Capture and CaptureAll transactions| Debit card number used to uniquely identify the owner’s account.\n| ExpDate| Debit card date of expiration in MMYY format.\n| MagData| Data located the magnetic strip on the back of the card. The format of the MagData is CardNum=ExpDate followed by the service date and checksum. For example:\n| Required on all swiped transactions| 36438999960016=05121015432112345678\n| NameOnCard| Card owner’s name as it appears on the card.\n| Optional| \n| Amount| Total transaction amount in DDDD.CC format.\n| Not required on CaptureAll transactions| Note: This amount includes the CashBackAmt and SureChargeAmt.\n| InvNum| The invoice ID is assigned by the merchant. This identifier can be used to locate a specific transaction or multiple transactions grouped under a single invoice.\n| Optional| View the [ExtData Field Definitions](#section/extdatadef) for more information.\n| PNRef| Unique payment reference number used to identify a single transaction within the system. The payment reference number (PNRef) is assigned by the payment server at the time the transaction is created.\n| Required on Force and Capture transactions| \n| Pin| The encrypted PIN-block returned by the PIN pad.\n| Not required in Capture and CaptureAll transactions| Note: The transaction will fail if an unencrypted PIN is used.\n| | Note: This information is not required for PIN-less debit transactions. See [PIN-less Debit Transactions.](#section/pinless) \n| RegisterNumber| A string that uniquely identifies the register, terminal, or computer on which the transaction was performed. \n|Optional |  \n| SureChargeAmt|  The amount, in DDDD.CC format, charged by a merchant in exchange for processing a debit card transaction.\n|Optional |  \n|CashBackAmt | The amount, in DDDD.CC format, requested by the card holder in cash back from the debit transaction. \n|Optional |  \n|ExtData |  The ExtData parameter allows you to pass additional information to the web service that is not covered under the input parameters. \n|Optional |  ExtData values need not be placed in any particular order; however, they must be properly formatted using XML tags.\n\n## ExtData Parameters Table\nView the ExtData Examples and Parameters Table below for available parameters.\n\n## ExtData Parameter Example\nExample\n\nTo view the ExtData Parameters table click &nbsp;\n\n| ExtData Parameters| Description \n|-----|-----\n|Timeout | Processor time out value in seconds. The default value for the parameter is 30 seconds for a transaction and 300 seconds for a settlement transaction.\n|Optional | \n| | Valid format is:\n| | <TimeOut>_TimeOut_</TimeOut> where _TimeOut_ is the processor time out value in seconds.\n|TrainingMode | This is an indicator that specifies whether transactions will be processed for local loop back testing or treated normally.\n| Optional|\n| | Valid formats are:\n| | <TrainingMode>T</TrainingMode> where _T_ (true) indicates that training mode is active and transactions are processed for local loop back testing.\n| | <TrainingMode>F</TrainingMode> where _F_ (false) indicates that training mode is inactive and transactions should be treated normally.\n| Key Serial Number| PIN pad serial number.\n|Required for all non-PIN-less debit transactions | Valid format is:\n| | <KeySerialNumber>_KeySerialNumber_</KeySerialNumber> where _KeySerialNumber_ is the PIN pad serial number used in managing DUKPT PIN pads.\n|Force | This is an indicator that specifies whether or not duplicate transactions will be processed.\n| Optional|\n| |Valid formats are:\n| |<Force>T</Force> where _T_ (true) indicates that duplicate transactions are accepted.\n| |<Force>F</Force> where _F_ (false) indicates that duplicate transactions are not accepted.\n| |Note: Some processors, including BuyPass, will not recognize this tag and reject duplicate transactions.\n\n# 3.3. ProcessCheck  \nThis web service is used whenever a transaction is completed via customer check.\n\n## Request\nProcessCheck(UserName, Password, TransType, CheckNum, TransitNum, AccountNum, Amount, MICR, NameOnCheck, DL, SS, DOB, StateCode, CheckType, ExtData)\n\n## Response\nNeed Response here    \n\nView [Transaction Response Fields.](#section/transaction-response-fields)\n\n## ProcessCheck Input Parameters\nUnless noted otherwise, the parameter is **required**.\n\n| Parameter Name| Description \n|-----|-----\n| UserName | User name assigned in the payment server. The user must have an appropriate level of access in order to utilize the web service.\n|Password |    Password associated with the user name provided.\n| TransType| Identifies the type of credit card transaction being made.\n| | Valid values are:\n| | - Sale – make a purchase using a check\n| | - Auth (Verify) – authorizes or verifies the amount of a check\n| | - Return – return the money of a settled check transaction to the check holder\n| | - Void – undo a settled check transaction\n| | - Force – (ForceSale) force a previous Sale transaction into the current batch\n| | Terminal-based Processors Only:\n| | - Capture – settle a single transaction in the current batch\n| | - CaptureAll – settle all transactions in the current batch\n| | Note: If using the Return, Void, Force, or Capture TransTypes, you must include a PNRef using the ExtData parameter.\n| | Note: If using the Sale or Return TransTypes, you may be required to include city of account, bill-to street, and bill-to postal code using the ExtData parameter.\n| CheckNum| Uniquely identifies an individual’s check.\n| Not required for Capture and CaptureAll transactions|\n|TransitNum | Uniquely identifies the bank holding funds. Also called routing number.\n|Not required for Capture and CaptureAll transactions |\n| AccountNum| Uniquely identifies the check owner’s bank account.\n|Not required for Capture and CaptureAll transactions |\n|Amount | Total transaction value in DDDD.CC format.\n|Not required for Capture and CaptureAll transactions |\n|MICR | Magnetic Ink Check Reader data line. This data string includes the TransitNum and AccountNum.\n|Required on all swiped card transactions |\n| |Note: This input is required for processing check/consumer present transactions.\n| |Note: The formats of the MICR is processor specific and if the developer is not sure about what format your Check processor accepts, pass the RAW MICR as well in the TOAD format and details of this are described in the extended data. If the developer is sure about the precise format for MICR that is supported by the Check processor, then there is no need to pass the Raw MICR in TOAD format.\n|NameOnCheck | Check owner’s name as it appears on the check.\n|Not required for Capture and CaptureAll transactions | See [Invalid Character Processing.](#section/invalidchar)\n|May be required by merchant’s processor setup |\n|DL | Check owner’s driver’s license number.\n| Optional|See [Invalid Character Processing.](#section/invalidchar)\n|SS | Check owner’s Social Security number.\n| Optional|See [Invalid Character Processing.](#section/invalidchar)\n|DOB |Check owner’s date of birth.\n|Optional |See [Date Formats.](#section/dateformat)\n|StateCode |Check owner’s two-character state code.\n|Optional unless required by merchant’s processor setup |See [Invalid Character Processing.](#section/invalidchar)\n|CheckType | Identifies the type of check used in the transaction.\n|Optional | Valid values are:\n| |- Personal\n| |- Corporate\n| |- Government\n|ExtData |The ExtData parameter allows you to pass additional information to the web service that is not covered under the input parameters. \n|Optional |ExtData values need not be placed in any particular order; however, they must be properly formatted using XML tags.\n\n## ExtData Parameters Table\nView the ExtData Examples and Parameters Table below for available parameters.\n\n## ExtData Parameter Examples\nExample\n\nTo view the ExtData Parameters table click\n\n| ExtData Parameters| Description \n|-----|-----\n| Timeout | Processor time out value in seconds. The default value for the parameter is 30 seconds.\n|Optional | Valid format is:\n| | <TimeOut>_TimeOut_</TimeOut> where _TimeOut_ is the processor time out value in seconds.\n|PNRef | Unique payment reference number used to identify a single transaction within the system. The payment reference number (PNRef) is assigned by the payment server at the time the transaction is created.\n|Required for TransType = Return, Void, Force, or Capture |\n| |Valid format is:\n| |<PNRef>PNRef</PNRef> where PNRef is the valid payment reference number assigned to the transaction that is to be returned, voided, forced, or captured.\n|Phone |Check owner’s phone number.\n|Optional | See [Invalid Character Processing.](#section/invalidchar)\n| |Valid format is:\n| |<Phone>_Phone_</Phone> where _Phone_ is the check owner’s phone number.\n|Email Address | Check owner’s email address.\n|Optional | See [Invalid Character Processing.](#section/invalidchar)\n| |Valid format is:\n| |<Email>_Email_</Email> where _Email_ is the check owner’s email address.\n|Raw MICR |Raw Magnetic Ink Check Reader data line from the check reader.\n|Required for check/consumer present transactions | Valid format is:\n| | <RawMICR>_RawMICR_</RawMICR> where _RawMICR_ is the transit number, account number, and check number in the following format:_TransitNumTAccountNumOCheckNum_\n| |Note: TOAD format is the accepted default format for raw MICR for all check processors supported.\n|Invoice Number | The invoice ID is assigned by the merchant. This identifier can be used to locate a specific transaction or multiple transactions grouped under a single invoice.\n|Optional |\n| |Valid format is:\n| |<InvNum>_InvNum_</InvNum> where _InvNum_ is the merchant-assigned invoice number.\n| |Note: Many merchants use the invoice ID to store other values in the database. The exact nature of the value stored will vary by merchant.\n|TrainingMode | This is an indicator that specifies whether transactions will be processed for local loop back testing or treated normally.\n|Optional |\n| |Valid formats are:\n| |<TrainingMode>T</TrainingMode> where _T_ (true) indicates that training mode is active and transactions are processed for local loop back testing.\n| |<TrainingMode>F</TrainingMode> where _F_ (false) indicates that training mode is inactive and transactions should be treated normally.\n|Alliance Number | Check alliance number.\n|Optional | Valid formats are:\n| |<AccType>_Checking_</AccType> to indicate a checking account\n| |<AccType>_Savings_</AccType> to indicate a savings account\n|City of Account | City name for the check owner’s residential address.\n|Depending on merchant setup, may be required for TransType=Sale or Return | See [Invalid Character Processing.](#section/invalidchar)\n| |Valid format is:\n| |<CityOfAccount>_CityOfAccount_</CityOfAccount> where _CityOfAccount_ is the check owner’s city name.\n|Bill-To Street | Street address for the check owner’s bill-to address.\n|Depending on merchant setup, may be required for TransType=Sale or Return | See [Invalid Character Processing.](#section/invalidchar)\n| |Valid format is:\n| |<BillToStreet>_BillToStreet_</BillToStreet> where BillToStreet is the street name for the check owner’s bill-to address.\n|Bill-To City | City name for the check owner’s bill-to address.\n|Optional | See [Invalid Character Processing.](#section/invalidchar)\n| |Valid format is:\n| |<BillToCity>_BillToCity_</BillToCity> where _BillToCity_ is the city name for the check owner’s bill-to address.\n|Bill-To State |Two-character state code for the check owner’s bill-to address.\n|Optional | See [Invalid Character Processing.](#section/invalidchar)\n| |Valid format is:\n| |<BillToState>_BillToState_</BillToState> where _BillToState_ is the two-character state code for the check owner’s bill-to address.\n|Bill-To Postal Code | Postal/Zip code for the check owner’s bill-to address.\n|Depending on merchant setup, may be required for TransType=Sale or Return | See [Invalid Character Processing.](#section/invalidchar)\n| |Valid format is:\n| |<BillToPostalCode>_BillToPostalCode_</BillToPostalCode> where _BillToPostalCode_ is the street name for the check owner’s bill-to address.\n|Bill-To Country | Country name for the check owner’s bill-to address.\n| Optional| See [Invalid Character Processing.](#section/invalidchar)\n| |Valid format is:\n| |<BillToCountry>_BillToCountry_</BillToCountry> where _BillToCountry_ is the country name for the check owner’s bill-to address.\n|Customer ID |Identification number assigned to the customer by the merchant.\n|Optional |Valid format is:\n| |<CustomerID>_CustomerID_</CustomerID> where _CustomerID_ is the customer’s assigned customer ID.\n| Card Type|For use with image uploads specific to the processor RDM_ITMS.\n|Optional | Valid format is:\n| |<CardType>_IMAGE_<CardType>\n|External IP | When using the Transact web service, the IP address defaults to the calling computer’s IP. If the request is coming from an external source, the external IP address can be substituted for the purpose of logging and fraud control.\n|Optional | To implement this IP pass through functionality, the following XML node should be included in the external data field of the web service call…\n| |<ExternalIP>_IP Address Here_</ExternalIP>\n| |If the ExternalIP node is not included in the external data field, then the default behavior of using the callers IP address is used.\n\n# 3.4. ProcessEBTCard \n EBT is used in all U.S. states to issue government benefits to recipients. Benefits are automatically deposited onto the card by the state and recipients are issued an “EBT card” (similar to a bank ATM or debit card) to receive their food stamp and/or cash benefits. Recipients with food stamp benefits can use their EBT cards for eligible food purchases at most grocery stores and some other retailers.\n\n## Request\nProcessEBTCard(UserName, Password, TransType, CardNum, ExpDate, MagData, NameOnCard, Amount, InvNum, PNRef, Pin, RegisterNum, SureChargeAmount, CashBackAmt, ExtData)\n\n## Response\nResponse here  \n\nView [Transaction Response Fields.](#section/transaction-response-fields)\n\n## ProcessEBTCard Input Parameters\nUnless noted otherwise, the parameter is **required**.\n\n| Parameter Name| Description \n|-----|-----\n| UserName | User name assigned in the payment server. The user must have an appropriate level of access in order to utilize the web service.\n|Password |Password associated with the user name provided.\n|TransType |Identifies the type of credit card transaction being made.\n| |Valid values are:\n| |- FoodStampSale – make a purchase on an EBT cardholder’s food stamp account \n| | - FoodStampReturn – credit to an EBT cardholder’s food stamp account\n| | - CashBenefitSale – make a purchase on an EBT cardholder’s cash benefit account\n| | - Inquire – check the balance on an EBT card\n| | - Capture – settle a single transaction in the current batch; only for terminal-based processors\n| | - CaptureAll – settle all transactions in the current batch; only for terminal-based processors or host-based processors that support a batch release feature\n| | - Force (Voucher Clear) – allow a merchant to pass a voucher number along with authorization code to perform a pin-less EBT sale. The voucher reference number is a reference number on the voucher slip to clear the transaction along with the authorization code obtained via a voice approval.\n| |The following transaction types apply to eWic processing.\n| |- EWICAUTHORIZATION – Authorize amount for eWic transaction\n| |- EWICCOMPLETION – Complete or capture the amount for an eWic authorization\n| |- EWICSALE – Perform an eWic Sale\n|CardNum | EBT card number used to uniquely identify the owner’s account.\n|Not required for Capture and CaptureAll transactions |\n|ExpDate | EBT card date of expiration in MMYY format.\n|MagData | Data located on the magnetic strip on the back of the card. The format of the MagData is CardNum=ExpDate followed by the service code and checksum.\n|Optional |\n| |For example:\n| |36438999960016=05121015432112345678\n|NameOnCard |Card owner’s name as it appears on the card.\n| Optional unless required by merchant’s processor setup| Note: Invalid characters will be removed from this entry. See [Invalid Character Processing.](#section/invalidchar)\n|Amount |Total transaction amount in DDDD.CC format.\n|Not required for Capture and CaptureAll transactions |Note: This amount includes the CashBackAmt and SureChargeAmt.\n|InvNum |The invoice ID is assigned by the merchant. This identifier can be used to locate a specific transaction or multiple transactions grouped under a single invoice.\n|Optional |\n| |View the [ExtData Field Definitions](#section/extdatadef)   for more information.\n| PNRef| Unique payment reference number used to identify a single transaction within the system.\n|Required on all swiped card transactions | The payment reference number (PNRef) is assigned by the payment server at the time the transaction is created.\n|Pin | The encrypted PIN-block returned by the PIN pad.\n|RegisterNum | A string that uniquely identifies the register, terminal, or computer on which the transaction was performed.\n| Optional|\n| SureChargeAmount| The amount, in DDDD.CC format, charged by a merchant in exchange for processing a debit card transaction.\n| Optional|\n|CashBackAmt | The amount, in DDDD.CC format, requested by the card holder in cash back from the debit transaction.\n|Optional |\n|ExtData | The ExtData parameter allows you to pass additional information to the web service that is not covered under the input parameters. \n|Optional | ExtData values need not be placed in any particular order; however, they must be properly formatted using XML tags.\n\n## ExtData Parameters Table\nView the ExtData Examples and Parameters Table below for available parameters.\n\n## ExtData Parameter Examples\nTo view the ExtData Parameters table click\n\n| ExtData Parameters| Description \n|-----|-----\n| Timeout | Processor time out value in seconds. The default value for the parameter is 30 seconds and 300 seconds for a settlement transaction.\n|Optional |\n||Valid format is:\n| |<TimeOut>_TimeOut_</TimeOut> where _TimeOut_ is the processor time out value in seconds.\n|Training Mode |This is an indicator that specifies whether transactions will be processed for local loop back testing or treated normally.\n|Optional |\n| |Valid formats are:\n| |<TrainingMode>_T_</TrainingMode> where _T_ (true) indicates that training mode is active and transactions are processed for local loop back testing.\n| |<TrainingMode>_F_</TrainingMode> where _F_ (false) indicates that training mode is inactive and transactions should be treated normally.\n|Key Serial Number | Key Serial Number: (required for all non-PIN-less debit transactions) PIN pad serial number.\n|Optional |\n| |Valid format is:\n| |<KeySerialNumber>_KeySerialNumber_</KeySerialNumber> where _KeySerialNumberis_ the PIN pad serial number used in managing DUKPT PIN pads.\n|Force | This is an indicator that specifies whether or not duplicate transactions will be processed.\n|Optional |\n| |Valid formats are:\n| |<Force>_T_</Force> where _T_ (true) indicates that duplicate transactions are accepted.\n| |<Force>_F_</Force> where _F_ (false) indicates that duplicate transactions are not accepted.\n| |Note: Some processors, including BuyPass, will not recognize this tag and reject duplicate transactions.\n|External IP | When using the Transact web service, the IP address defaults to the calling computer’s IP. If the request is coming from an external source, the external IP address can be substituted for the purpose of logging and fraud control.\n|Optional |\n| |To implement this IP pass through functionality, the following XML node should be included in the external data field of the web service call…\n| | <ExternalIP>_IP Address Here_</ExternalIP>\n| |If the ExternalIP node is not included in the external data field, then the default behavior of using the callers IP address is used.\n|eWic transactions (Specific to RapidConnect)\n| |For eWic transactions, you can supply eWic detail using the following parameters and must be contained in the EWicDetail group:\n| | - UPCPLUInd – Indicator for UPC/PLU, 0 for UPC, 1 for PLU\n| | - UPCPLUData – Can be up to 16 characters\n| | - UPCPrice – Can only be up to 6 digits, which includes two implied decimals\n| | - UPCQty – Number of Items or total weight of items, Can only be up to 5 digits, which includes two implied decimals\n| |Below is an examples of what the string would look like without data:\n| |<EWicDetails><EWicDetail><UPCPLUData/><UPRPrice/>\n| |<UPCQty/></EWicDetail></EWicDetails>\n|Merchant FNS:\n| |For a Food benefit/snap transaction you can provide the Merchant FNS Number in the MerchantFNS tag:\n| | - <MerchantFNS>_12345_</MerchantFNS>\n\n# 3.5. ProcessGiftCard \n This web service is used to process gift card transactions for a merchant.\n\n## Request\nProcessGiftCard(UserName, Password, TransType, CardNum, ExpDate, MagData, Amount, InvNum, PNRef, ExtData)\n\n## Response\nResponse here  \n\nView [Transaction Response Fields.](#section/transaction-response-fields)\n\n## ProcessGiftCard Input Parameters\nUnless noted otherwise, the parameter is  **required**.\n\n| Parameter Name| Description \n|-----|-----\n| UserName | User name assigned in the payment server. The user must have an appropriate level of access in order to utilize the web service.\n|Password| Password associated with the user name provided.\n|TransType| Identifies the type of gift card transaction being made.\n||Valid values are:\n||- Redeem  – make a purchase on a gift card\n||- Reload  – increase the balance on a gift card\n||- Refund  – refund money back to a gift card\n||- Activate  – activate a gift card\n||- Deactivate  – deactivate a gift card\n||- Inquire  – check the balance on a gift card\n||- Void  – undo an unsettled transaction\n||_Paymentech/Tampa only:_\n||- Force – place a transaction not processed through the payment server into the current batch (ForceAuth).\n||_Terminal-based processors only:_\n|| - Capture – settle a single transaction in the current batch; only for terminal-based processors\n||_Processors supporting the batch release feature only:_\n||- CaptureAll – settle all transactions in the current batch.\n|CardNum| Gift card number used to uniquely identify the owner’s account.\n|ExpDate| Gift card date of expiration in MMYY format.\n|MagData|Data located the magnetic strip on the back of the card. The format of the MagData is CardNum=ExpDate followed by the service code and checksum. For example:\n|Required on all swiped transactions| 36438999960016=05121015432112345678\n|Amount| Total transaction amount in DDDD.CC format.\n|Not required for CaptureAll transactions| Note: This amount includes the CashBackAmt and SureChargeAmt.\n|InvNum| The invoice ID is assigned by the merchant. This identifier can be used to locate a specific transaction or multiple transactions grouped under a single invoice.\n|Optional| View the [ExtData Field Definitions](#section/extdatadef) for more information.\n|PNRef| Unique payment reference number used to identify a single transaction within the system. \n|Required on Force and Capture transactions|The payment reference number (PNRef) is assigned by the payment server at the time the transaction is created.\n|ExtData| The ExtData parameter allows you to pass additional information to the web service that is not covered under the input parameters.\n|Optional| ExtData values need not be placed in any particular order; however, they must be properly formatted using XML tags.\n\n## ExtData Parameters Table\nView the ExtData Examples and Parameters Table below for available parameters.\n\n## ExtData Parameter Examples\nExample\n\nTo view the ExtData Parameters table click\n\n| ExtData Parameters| Description \n|-----|-----\n| Training Mode | This is an indicator that specifies whether transactions will be processed for local loop back testing or treated normally.\n|Optional |\n||Valid formats are:\n| |<TrainingMode>T</TrainingMode> where _T_ (true) indicates that training mode is active and transactions are processed for local loop back testing.\n| |<TrainingMode>F</TrainingMode> where _F_ (false) indicates that training mode is inactive and transactions should be treated normally.\n|Force | This is an indicator that specifies whether or not duplicate transactions will be processed.\n|Optional |\n| |Valid formats are:\n| |<Force>_T_</Force> where _T_ (true) indicates that duplicate transactions are accepted.\n| |<Force>_F_</Force> where _F_ (false) indicates that duplicate transactions are not accepted.\n| |Note: Some processors, including BuyPass, will not recognize this tag and reject duplicate transactions.\n|Time out | Processor time out value in seconds. The default value for the parameter is 30 seconds for a transaction and 300 seconds for a settlement transaction.\n|Optional |\n| |Valid format is:\n| | <TimeOut>_TimeOut_</TimeOut> where _TimeOut_ is the processor time out value in seconds.\n|Register Number | This is unique identifier for the register, terminal or computer used to process the gift card transaction.\n|Optional |\n| |Valid format is:\n| | <RegisterNum>_RegisterNum_</RegisterNum> where _RegisterNum_ is equal to the register identification number stored on the merchant’s account record.\n|Paymentech/Tampa Only\n|Force Authorizatioln |  Places a previously authorized transaction (TransType = Redeem, Reload, or Activate) into the current batch.\n|Optional | \n| | <ForceAuth><AuthCode>_AuthCode_</AuthCode></ForceAuth> where _AuthCode_ is the previously obtained authorization code from Paymentech/Tampa.\n|External IP |  When using the Transact web service, the IP address defaults to the calling computer’s IP. If the request is coming from an external source, the external IP address can be substituted for the purpose of logging and fraud control.\n| Optional| \n| | To implement this IP pass through functionality, the following XML node should be included in the external data field of the web service call…\n| | <ExternalIP>IP Address Here</ExternalIP>\n| | If the ExternalIP node is not included in the external data field, then the default behavior of using the callers IP address is used.\n\n# 3.6. ProcessSignature \n The ProcessSignature web service allows you to capture customer signatures from an input device.\nThis web service is used to capture a customer signature electronically and store that data on the virtual terminal. Transactions with captured signatures appear in the Payment Server with a small icon to the left of the transaction ID.\n\n## Request\nProcessSignature(UserName, Password, SignatureType, SignatureData, PNRef, Result, AuthCode, ExtData)\n\nThis example combines the previous ProcessCreditCard call and appends a signature to it. An [example file is linked](https://www.payroc.com/Common/Images/Custom/5982/api-docs/gateway_signature.tif) (see “Path to File”) which you can download and save locally to try.\n\n```\nSmartPaymentsSoapClient transact =\nnew SmartPaymentsSoapClient(\"SmartPaymentsSoap\");\n\ntransactResponse = transact.ProcessCreditCard(\n\"username\", \"password\", \"Sale\", \"4012888888881881\",\n\"1216\", \"\", \"Barney Rubble\", \"200\", \"666\", \"\", \"\", \"\", \"999\",\n@\"<EntryMode>MANUAL</EntryMode><TipAmt>3.85</TipAmt>\n  <RegisterNum>2</RegisterNum>\"\n);\n\nByte[] signatureBytes = File.ReadAllBytes(@\"<Path To File>\");\nString signatureContents64 = Convert.ToBase64String(signatureBytes);\n\nresponse = transact.ProcessSignature(\"username\", \"password\", \"Receipt1\",\nsignatureContents64, transactResponse.PNRef, \"\",\ntransactResponse.AuthCode, \"\");\n\n```\n## Response\n\n\n```\nMessage  \"APPROVAL\"  string\nMessage1  \"\"  string\nMessage2  \"\"  string\nPNRef  \"\"  string\nReceiptURL  null  string\nRespMSG  \"OK\"  string\nResult  0  int\n```\n\nView [Transaction Response Fields.](#section/transaction-response-fields)\n\n## ProcessSignature Input Parameters\nUnless noted otherwise, the parameter is  **required**.\n\n| Parameter Name| Description \n|-----|-----\n| UserName | User name assigned in the payment server. The user must have an appropriate level of access in order to utilize the web service.\n|Password |Password associated with the user name provided.\n|SignatureType |   Identifies the format of the signature data being provided. Valid values are:\n| |Valid values are:\n| |- Signature1 – Lipman credit\n| |- Signature2 – Lipman check\n| |- Signature3 – no longer used\n| |- Signature4 – signature provided in a vector string\n| |- Receipt1 – TIFF file (compressed and encoded Base64)\n| SignatureData| This parameter holds the data string containing the signature data.\n| | If SignatureType = Signature4, the SignatureData will contain a string value of vector coordinates, delimited with a ^ character in the following format:\n| |x1,y1^x2,y2^xN,yN^~\n| |Where ^ is the coordinate delimiter, ~ is the ending delimiter, and a comma (,) is the vector delimiter.\n| |If there is a pen up event, use the coordinate 0,65535 to signal a break in the line.\n| |If SignatureType = Receipt1, you must compress and Base64 encode the image data. See [Compression and Encoding.](#section/comp)\n|PNRef | Unique payment reference number used to identify a single transaction within the system. The payment reference number (PNRef) is assigned by the payment server at the time the transaction is created.\n|Result | Indicator that specifies whether the transaction was approved.\n|Optional | Valid entries are:\n| | - 1 (true) – transaction was approved\n| | - 0 (false) – transaction was not approved\n|AuthCode | The approval code is a 6-character string (alphanumeric) generated by the issuing bank. The code is used the card issuer to verify the specific authorization when transactions are being settled.\n|Optional | \n|ExtData | The ExtData parameter allows you to pass additional information to the web service that is not covered under the input parameters. \n|Optional | ExtData values need not be placed in any particular order; however, they must be properly formatted using XML tags.\n| | The following information may be added via the ExtData parameter:\n| | Training Mode: This is an indicator that specifies whether transactions will be processed for local loop back testing or treated normally.\n| | Valid formats are:\n| | - <TrainingMode>_T_</TrainingMode> where _T_ (true) indicates that training mode is active and transactions are processed for local loop back testing.\n| | - <TrainingMode>_F_</TrainingMode> where _F_ (false) indicates that training mode is inactive and transactions should be treated normally.\n\n# 3.7. ProcessBatch \nThe ProcessBatch web service provides the ability to control closing open batches for a merchant across Credit, Debit, EBT, ALL payment types. It serves as a convenience function as an alternative to calling Process(Credit|Debit|EBT)Card with the “CaptureAll” or “Capture” transaction types.\n\n## Request\nProcessBatch(UserName, Password, TransType, PaymentType, BatchID, BatchStatus, PNRef, ExtData)\n\n```\nSmartPaymentsSoapClient transact =\nnew SmartPaymentsSoapClient(\"SmartPaymentsSoap\");\n\ntransactResponse = transact.ProcessBatch(\"username\", \"password\", \"CAPTURE\", \"EBT\", \"\", \"\", \"\", \"\");\n```\n\n## Response\n\n```\n<Response>\n<Result>0</Result>\n<RespMSG>Approved</RespMSG>\n<Message>OK</Message>\n<Message1></Message1>\n<Message2></Message2>\n<AuthCode>GB79</AuthCode>\n<PNRef></PNRef>\n<HostCode>GB79</HostCode>\n<HostURL></HostURL>\n<ReceiptURL></ReceiptURL>\n<GetAVSResult></GetAVSResult>\n<GetAVSResultTXT></GetAVSResultTXT>\n<GetStreetMatchTXT></GetStreetMatchTXT>\n<GetZipMatchTXT></GetZipMatchTXT>\n<GetCVResult></GetCVResult>\n<GetCVResultTXT></GetCVResultTXT>\n<GetGetOrigResult></GetGetOrigResult>\n<GetCommercialCard></GetCommercialCard>\n<WorkingKey></WorkingKey>\n<KeyPointer></KeyPointer>\n<ExtData>CardType=CREDIT<Batch><Record>Summary</Record><PaymentTypes>CREDIT</PaymentTypes><Summary>Net_Count=9,Net_Amount=9.32</Summary><VISA>Return=1.23,Sale=10.55,Return_Cnt=1,Sale_Cnt=5,Cnt=6</VISA></Batch></ExtData>\n<AuthorizedAmount></AuthorizedAmount>\n<Balance></Balance>\n</Response>\n```\n\nView [Transaction Response Fields.](#section/transaction-response-fields)\n\n## ProcessBatch Input Parameters\nUnless noted otherwise, the parameter is **required.**\n\n| Parameter Name| Description \n|-----|-----\n| UserName | User name assigned in the payment server. The user must have an appropriate level of access in order to utilize the web service.\n|Password |Password associated with the user name provided.\n|TransType |   Currently only CAPTURE is supported.\n|PaymentType |This parameter determines which open batches to attempt to close. If not supplied ALL is assumed. This would be the equivalent of calling each of the Process(Credit,Debit,EBT)Card functions in turn with a CaptureAll transaction type.\n| Optional|\n| |The valid values are:\n| |- ALL\n| |- CREDIT\n| |- DEBIT\n| |- EBT\n| |- CHECK\n|BatchID |\n| |Currently unused\n| Optional|\n|BatchStatus |\n| |Currently unused\n|Optional |\n|PNRef |Unique payment reference number used to identify a single transaction within the system. The payment reference number (PNRef) is assigned by the payment server at the time the transaction is created.\n|Optional |If a PNRef is supplied a PaymentType must be provided as well. The gateway will settle the PNRef associated with the specific payment type.\n|ExtData | The ExtData parameter allows you to pass additional information to the web service that is not covered under the input parameters. \n|Optional |ExtData values need not be placed in any particular order; however, they must be properly formatted using XML tags.\n| |The following information may be added via the ExtData parameter:\n| | Timeout: The timeout for the transaction in seconds. This defaults to 40 seconds\n| |Valid formats are:\n| |- <Timeout>60</Timeout>\n| |Training Mode: This is an indicator that specifies whether transactions will be processed for local loop back testing or treated normally.\n| |Valid formats are:\n| |- <TrainingMode>_T_</TrainingMode> where _T_ (true) indicates that training mode is active and transactions are processed for local loop back testing.\n| |<TrainingMode>_F_</TrainingMode> where _F_ (false) indicates that training mode is inactive and transactions should be treated normally.\n\n# 3.8. GetInfo \n The GetInfo web service allows for miscellaneous checks against the gateway. These include the status of a current batch or an end-to-end status check to see if the gateway is currently responding.\n\n## Request\nGetInfo(UserName, Password, TransType, ExtData)\n\n```\nSmartPaymentsSoapClient transact =\nnew SmartPaymentsSoapClient(\"SmartPaymentsSoap\");\n\ntransactResponse = transact.GetInfo(\"username\", \"password\", \"BatchInquiry\", \"\");\n```\n\n## Response\n```\n<Response>\n<Result>0</Result>\n<RespMSG>Approved</RespMSG>\n<Message>\n</Message>\n<Message1>\n</Message1>\n<Message2>\n</Message2>\n<AuthCode>\n</AuthCode>\n<PNRef>\n</PNRef>\n<HostCode>\n</HostCode>\n<HostURL>\n</HostURL>\n<ReceiptURL>\n</ReceiptURL>\n<GetAVSResult>\n</GetAVSResult>\n<GetAVSResultTXT>\n</GetAVSResultTXT>\n<GetStreetMatchTXT>\n</GetStreetMatchTXT>\n<GetZipMatchTXT>\n</GetZipMatchTXT>\n<GetCVResult>\n</GetCVResult>\n<GetCVResultTXT>\n</GetCVResultTXT>\n<GetGetOrigResult>\n</GetGetOrigResult>\n<GetCommercialCard>\n</GetCommercialCard>\n<WorkingKey>\n</WorkingKey>\n<KeyPointer>\n</KeyPointer>\n<ExtData>Net_Amount=9.32,Net_Count=6,Credit_Sale_Amount=10.55,Credit_Sale_Count=5,Credit_Return_Amount=1.23,Credit_Return_Count=1,Credit_Net_Amount=9.32,Credit_Net_Count=6,Debit_Sale_Amount=0.00,Debit_Sale_Count=0,Debit_Return_Amount=0.00,Debit_Return_Count=0,Debit_Net_Amount=0.00,Debit_Net_Count=0,EBT_Sale_Amount=0.00,EBT_Sale_Count=0,EBT_Return_Amount=0.00,EBT_Return_Count=0,EBT_Net_Amount=0.00,EBT_Net_Count=0,Check_Sale_Amount=0.00,Check_Sale_Count=0,Check_Net_Amount=0.00,Check_Net_Count=0</ExtData>\n<AuthorizedAmount>\n</AuthorizedAmount>\n<Balance>\n</Balance>\n</Response>\n```\n\nView [Transaction Response Fields.](#section/transaction-response-fields)\n\n## GetInfo Input Parameters\nUnless noted otherwise, the parameter is  **required**.\n\n| Parameter Name| Description \n|-----|-----\n| UserName | User name assigned in the payment server. The user must have an appropriate level of access in order to utilize the web service.\n|Password |Password associated with the user name provided.\n|TransType |   CThe transaction type for the GetInfo call.\n| |Valid Values:\n| | - BatchInquiry – return a summary of the current batch status for the merchant (counts and amounts) for all types (Credit, Debig, EBT, Check)\n| |- StatusCheck – Run a pseudo transaction through the API merchants processor to determine if the gateway is responding. Returns OK only in ExtData\n|ExtData |\n| |The ExtData input parameter is reserved for future use.\n|Optional |\n\n# 3.9. Transaction Response Fields \nThe following response fields may be part of the return value for web services using transact.asmx operations. These web services include:\n\n- GetInfo\n- ProcessCheck\n- ProcessCreditCard\n- ProcessDebitCard\n- ProcessEBTCard\n- ProcessGiftCard\n- ProcessSignature\n\n| Response Field  Data Value |  Description | \n|-----|-----\n|AuthCode|Returns the transaction result code from the payment processor.\n|String up to 50 characters| This value can be either an approval code, for approved transactions, or an error code, for declined transactions\n|ExtData| Returns extra data from the processed transaction.\n|String up to 500 characters| The value of ExtData will be in a specific format. The format typically consists of the name of the data field, an equal sign, and then the value for the data field. Multiple data fields are separated with a comma.\n||See the [ExtData Field Definitions](#section/extdatadef) for full description of data elements that can be returned.\n||The following is an example of the format: ExtName1=ExtValue1,ExtName2=ExtValue2\n|GetAVSResult| Returns the overall address verification result code from the payment processor.\n|String up to 1 character|\n||When programmatically validating an AVS Result, this value should ALWAYS be used instead of any formatted response message describing the result.\n||View the [AVS Response Fields.](#section/avs-response-fields) \n|GetAVSResultTXT| Returns the formatted response message when address verification is performed.\n|String up to 25 characters| \n|| Do NOT use this when programmatically validating a transaction’s AVS result; please see GetAVSResult field.\n|GetCommercialCard| Returns the payment processor’s response indicator that specifies if the card is a commercial card.\n|String representing Boolean value|\n||This value is only applicable to credit card transactions. The card verification number is typically printed on the back of the card and not embossed on the front. It is used as an extra authentication method for “card not present” transactions. When programmatically validating a CV Result, this value should ALWAYS be used instead of any formatted response message describing the result.\n|GetCVResult| Returns the card verification result code from the payment processor.\n|String up to 1 character|\n||This value is only applicable to credit card transactions. The card verification number is typically printed on the back of the card and not embossed on the front. It is used as an extra authentication method for “card not present” transactions. When programmatically validating a CV Result, this value should ALWAYS be used instead of any formatted response message describing the result.\n||View the [CV Response Fields.](#section/cv-response-fields) \n|GetCVResultTXT| Returns the formatted response message when card verification is performed.\n|String up to 25 characters|\n||This value is only applicable to credit card transactions.  Do NOT use this when programmatically validating a transaction’s CV result; please see GetCVResult field.\n|GetStreetMatchTXT| Returns the formatted response message when street number address verification is performed.\n|String up to 25 characters|\n||This value will typically be “Match”, for correctly matching the street address, or “No Match”, for an incorrect street address.\n|GetZipMatchTXT| Returns the formatted response message when zip code address verification is performed.\n|String up to 25 characters|\n||This value will typically be “Match”, for correctly matching the zip code, or “No Match”, for an incorrect zip code.\n|HostCode| Typically returns a number which uniquely identifies the transaction in the payment processor.\n|String up to 30 characters|\n||This value may not be returned for all payment processors.\n|Message| Returns a formatted response message concerning the processed transaction.\n|String up to 50 characters|\n||This value will typically be “APPROVAL”, for approved transactions, or an error message, for declined transactions. Do NOT use this when programmatically validating a transaction’s result; please see Result field below.\n|Message1| Returns an extra formatted response message giving more information about the processed transaction.\n|String up to 50 characters|\n||The Payment Server will only populate this field when there is applicable information from the payment processor to return.\n|Message2| Returns an extra formatted response message giving more information about the processed transaction.\n|String up to 50 characters|\n||The Payment Server will only populate this field when there is applicable information from the payment processor to return.\n|PNRef|Returns a number which uniquely identifies the transaction in the payment gateway.\n|String representing a signed 32-bit integer|\n|RespMSG|Returns the response message concerning the processed transaction.\n|String up to 50 characters|\n||This value is typically either Approved or Declined.  Do NOT use this when programmatically validating a transaction’s result; please see Result field below.\n|Result| Returns the transaction result code from the payment gateway which signifies the result of the transaction (i.e. approved, decline, etc.).\n|String representing a signed 32-bit integer|\n||When programmatically validating a transaction’s result, this value should ALWAYS be used instead of any response message describing the result.\n||See the [Result Response Field Definitions](#section/resultresp) for a full list of result values and descriptions.\n\n## ExtData Response Fields\n\n| Response Field| Description \n|-----|-----\n|BatchNum| Current batch number for transactions, settlement, and batch inquiries.\n||Note: Not all payment processors support returning this data element.\n|CardType| Credit card type (VISA, MASTERCARD, etc) or payment method (Debit, EBT, or EGC) for card-based payments.\n||Note: This value is not returned for Check/ACH payments.\n|InvNum| Invoice number for the transaction that was originally sent in the request to the Payment Server.\n|Token| This value contains the token result (up to 64 alphanumeric characters) if a token was requested during the initiating transaction. Please note that this is a base64 encoded value so when parsing the returned structure you must rely on the comma to delimit the fields and the first “=” sign to denote the key and value separator as “=” signs can exist at the end of the token.\n||Eg:\n||Token=7d4l2JLKFHzjQENGdQ8t6wP1C18JI59c6q5HCEAsJUBz0DK5I1pNxQ==\n|Balance|This XML tag contains the value for requests that require a balance response such as EBT balance inquiries.\n||Eg:\n||<Balance>12.50</Balance>\n|Trace|This XML tag contains the System Trace Audit Number returned for Debit / EBT transactions.\n||Eg:\n||<Trace>525982</Trace>\n|NetworkId|This XML tag contains the value for the identification code of the network on which the transaction was authorized.\n||Eg:\n||<NetworkId>K</NetworkId>\n|Approved Amount|This XML tag contains the approved amount for a transaction that results in a partial approval. It is always enclosed by a <ReceiptData> tag.\n||Eg:\n||<Approved_Amt>_5.55_</Approved_Amt>\n||Full Example:\n||<ReceiptData><Requested_Amt>11.10</Requested_Amt>\n||<Approved_Amt>5.55</Approved_Amt></ReceiptData>\n|Requested Amount|This XML tag contains the requested amount for a transaction that results in a partial approval. It is always enclosed by a <ReceiptData> tag.\n||Eg:\n||<Requested_Amt>11.10</Requested_Amt>\n||Full Example:\n||<ReceiptData><Requested_Amt>11.10</Requested_Amt>\n||<Approved_Amt>5.55</Approved_Amt></ReceiptData>\n\n# 3.10. Result Response Fields  \n\n## Result Response Field Definitions\n\n| Value |  Description | \n|-----|-----\n|-100|Transaction NOT Processes; Generic Host Error\n|0| Approved\n|1| User Authentication Failed\n|2| Invalid Transaction\n|3| Invalid Transaction Type\n|4| Invalid Amount\n|5| Invalid Merchant Information\n|7|Field Format Error\n|8|Not a Transaction Server\n|9|Invalid Parameter Stream\n|10|Too Many Line Items\n|11|Client Timeout Waiting for Response\n|12|Decline\n|13|Referral\n|14|Transaction Type Not Supported In This Version\n|19|Original Transaction ID Not Found\n|20|Customer Reference Number Not Found\n|22|Invalid ABA Number\n|23|Invalid Account Number\n|24|Invalid Expiration Date\n|25|Transaction Type Not Supported by Host\n|26|Invalid Reference Number\n|27|Invalid Receipt Information\n|28|Invalid Check Holder Name\n|29|Invalid Check Number\n|30|Check DL Verification Requires DL State\n|40|Transaction did not connect (to NCN because Secure NCIS is not running on the web server)\n|50|Insufficient Funds Available\n|99|General Error\n|100|Invalid Transaction Returned from Host\n|101| Timeout Value too Small or Invalid Time Out Value\n|102| Processor Not Available\n|103| Error Reading Response from Host\n|104|Timeout waiting for Processor Response\n|105|Credit Error\n|106|Host Not Available\n|107|Duplicate Suppression Timeout\n|108|Void Error\n|109|Timeout Waiting for Host Response\n|110|Duplicate Transaction\n|111|Capture Error\n|112|Failed AVS Check\n|113|Cannot Exceed Sales Cap\n|1000|Generic Host Error\n|1001|Invalid Login\n|1002|Insufficient Privilege or Invalid Amount\n|1003|Invalid Login Blocked\n|1004|Invalid Login Deactivated\n|1005|Transaction Type Not Available\n|1006|Unsupported Processor\n|1007|Invalid Request Message\n|1008|Invalid Version\n|1010|Payment Type Not Supported\n|1011|Error Starting Transaction\n|1012|Error Finishing Transaction\n|1013|Error Checking Duplicate\n|1014|No Records To Settle (in the current batch)\n|1015|No Records To Process (in the current batch)\n\n # 3.11. AVS Response Fields   \n\n| Value |  Description | \n|-----|-----\n|X|Exact: Address and nine-digit Zip match\n|Y|    Yes: Address and five-digit Zip match\n|A| Address: Address matches, Zip does not\n|Z|5-digit Zip: 5-digit Zip matches, address does not\n|W| Whole Zip: 9-digit Zip matches, address does not\n|N| No: Neither address nor Zip matches\n|U|Unavailable: Address information not available\n|G|Unavailable: Address information not available for international transaction\n|R|Retry: System unavailable or time-out\n|E|Error: Transaction unintelligible for AVS or edit error found in the message that prevents AVS from being performed\n|S|Not Supported: Issuer doesn’t support AVS service\n|B|Street Match: Street addresses match for international transaction, but postal code does not\n|C|Street Address: Street addresses and postal code not verified for international transaction\n|D|Match: Street addresses and postal codes match for international transaction\n|I|Not Verified: Address Information not verified for International transaction\n|M|Match: Street addresses and postal codes match for international transaction\n|P|Postal Match: Postal codes match for international transaction, but street address does not\n|O|No response sent\n|5|Invalid AVS response\n\n# 3.12. CV Response Fields   \n\n| Value |  Description | \n|-----|-----\n|M|CVV2/CVC2/CID Match\n|N|CVV2/CVC2/CID No Match\n|P|Not Processed\n|S|Issuer indicates that the CV data should be present on the card, but the merchant has indicated that the CV data is not present on the card.\n|U| Unknown / Issuer has not certified for CV or issuer has not provided Visa/MasterCard with the CV encryption keys.\n|X| Server Provider did not respond\n\n# 4. Reporting  \n\n# 4.1. GetCardTrx  \n\nThis web service returns one or more card transactions (with details) for a specific merchant.\n\nIn addition to the basic transaction search function, the GetCardTrx web service can help you:\n\n- Build a variety of custom reports, from customer billing histories to reports that help locate duplicate transactions.\n\n- Build data mining applications. For example, determining what percentage of sales derive from specific users or payment types. If you have multiple gateway accounts, you can compile the data from multiple sources into your own customized and aggregated reports.\n\n- Automate the reconciliation process between the payment server and the point-of-sale (POS) system or register.\n\n## Request\n\n## Request Example 1\n\nGetCardTrx(UserName, Password, RPNum, PNRef, BeginDt, EndDt, PaymentType, ExcludePaymentType, TransType, ExcludeTransType, ApprovalCode, Result, ExcludeResult, NameOnCard, CardNum, CardType, ExcludeCardType, ExcludeVoid, User, invoiceId, SettleFlag, SettleMsg, SettleDt, TransformType, Xsl, ColDelim, RowDelim, IncludeHeader, ExtData)\n\n## Request Example 2\n\nA second version of this API changes SettleDt to be a range comprising BeginSettleDt and EndSettleDt.\n\nGetCardTrx(UserName, Password, RPNum, PNRef, BeginDt, EndDt, PaymentType, ExcludePaymentType, TransType, ExcludeTransType, ApprovalCode, Result, ExcludeResult, NameOnCard, CardNum, CardType, ExcludeCardType, ExcludeVoid, User, invoiceId, SettleFlag, SettleMsg, BeginSettleDt, EndSettleDt, TransformType, Xsl, ColDelim, RowDelim, IncludeHeader, ExtData)\n\n```\nTrxDetailSoapClient reporting = new TrxDetailSoapClient(\"TrxDetailSoap\");\n\nreportingResponse = reporting.GetCardTrx(\n    \"username\", \"password\", \"5\", \"13612\",\n    \"\", \"\", \"\", \"\", \"\", \"\", \"\", \"\", \"\", \"\", \"\", \"\", \"\",\n    \"\", \"\", \"\", \"\", \"\", \"\", \"\", \"\", \"\", \"\", \"true\", \"\");\n```\n\n## Response\n\n```\n<RichDBDS>\n  <TrxDetailCard>\n    <TRX_HD_Key>13612</TRX_HD_Key>\n    <Invoice_ID>666</Invoice_ID>\n    <Date_DT>2016-08-05T18:16:12.867+00:00</Date_DT>\n    <Merchant_Key>5</Merchant_Key>\n    <User_Name_VC>username                 </User_Name_VC>\n    <Register_Number_CH>2         </Register_Number_CH>\n    <Reseller_Key>999</Reseller_Key>\n    <Payment_Type_ID>VISA      </Payment_Type_ID>\n    <Trans_Type_ID>Sale                </Trans_Type_ID>\n    <Processor_ID>TSYS      </Processor_ID>\n    <TRX_Settle_Key>13549</TRX_Settle_Key>\n    <Void_Flag_CH>0</Void_Flag_CH>\n    <Settle_Flag_CH>0</Settle_Flag_CH>\n    <Last_Update_DT>2016-08-05T18:16:13.663+00:00</Last_Update_DT>\n    <TRX_Card_Key>13549</TRX_Card_Key>\n    <Card_Info_Key>13550</Card_Info_Key>\n    <Auth_Amt_MN>200.0000</Auth_Amt_MN>\n    <Tip_Amt_MN>3.8500</Tip_Amt_MN>\n    <Total_Amt_MN>200.0000</Total_Amt_MN>\n    <Cash_Back_Amt_MN>0.0000</Cash_Back_Amt_MN>\n    <SureCharge_Amt_MN>0.0000</SureCharge_Amt_MN>\n    <Account_Type_CH>VISA      </Account_Type_CH>\n    <Result_CH>0    </Result_CH>\n    <Approval_Code_CH>TAS979</Approval_Code_CH>\n    <Host_Ref_Num_CH>000000000016865</Host_Ref_Num_CH>\n    <AVS_Resp_CH>0</AVS_Resp_CH>\n    <CV_Resp_CH>M</CV_Resp_CH>\n    <Host_Date_CH>080516    </Host_Date_CH>\n    <Host_Time_CH>131613    </Host_Time_CH>\n    <Acct_Num_CH>************1881</Acct_Num_CH>\n    <Exp_CH>1216      </Exp_CH>\n    <Type_CH>VISA      </Type_CH>\n    <Name_on_Card_VC>Barney Rubble            </Name_on_Card_VC>\n    <Street_CH xml:space=\"preserve\">                         </Street_CH>\n    <Zip_CH xml:space=\"preserve\">          </Zip_CH>\n    <Manual>true</Manual>\n    <TRX_Receipt_key>0</TRX_Receipt_key>\n    <IP_VC>192.168.1.2</IP_VC>\n    <Batch_Number>0</Batch_Number>\n    <Level3_Amt_MN>0.0000</Level3_Amt_MN>\n    <TRX_Receipt_Cnt>0</TRX_Receipt_Cnt>\n    <Auth_Date_DT>2016-08-05T18:16:12.867+00:00</Auth_Date_DT>\n    <Reversal_Flag_CH>0</Reversal_Flag_CH>\n    <CustomFields>\n      <CocoaPebbles>Chocolate goodness</CocoaPebbles>\n      <FruityPebbles>18</FruityPebbles>\n    </CustomFields>\n  </TrxDetailCard>\n</RichDBDS>\n```\nView [TrxDetail Response Fields.](#section/trxdetail-response-fields)\n\n## GetCardTrx Input Parameters\n\nUnless noted otherwise, the parameter is **required.**\n\n| Parameter Name| Description \n|-----|-----\n| UserName|User name assigned in the payment server. The user must have an appropriate security permissions in order for the system to return transaction records.\n|Password |Password for the user name assigned in the payment server.\n|RPNum |Unique value assigned to each gateway account used as a third credential to ensure security and\n| |Note: RPNum may also be called Merchant ID, Merchant Number, or Vendor Key.\n| PNRef| The unique payment reference number assigned to the transaction.\n|Optional | If this field is provided, all other query fields will be ignored when using PNRef parameter to query the system.\n| BeginDt| Beginning date of the transaction record query.\n|Required unless a PNRef value is provided |\n| EndDt| End date of the transaction record query.\n|Required unless a PNRef value is provided |\n|PaymentType |If provided, only those transactions matching the PaymentType will be included.\n|Optional |\n| |Valid values are:\n| |- ‘AMEX’ American Express card\n| |- ‘CARTBLANCH’ Carte Blanch card\n| |- ‘DEBIT’ Debit card\n| |- ‘DINERS’ Diners Club card\n| |- ‘DISCOVER’ Novus Discover card\n| |- ‘EBT’ Electronic Benefit Transfer\n| |- ‘JAL’ JAL card\n| |- ‘JCB’ Japanese Commercial Bank card\n| |- ‘MASTERCARD’ Master card\n| |- ‘VISA’ Visa card\n| |- ‘EGC’ Gift card\n| |- ‘PAYRECEIPT’ to retrieve receipt images that were uploaded to the payment server\n| |- ‘SETTLE’ to retrieve requests to settle transactions\n| |Note: The default value for this field is “All”. If no value is set, all payment types will be returned in the result set.\n| |Or any permutation of the above values, e.g. “‘PAYRECEIPT’,’SETTLE'” will pull all transactions with either PayReceipt or Settle payment types.\n|ExcludePaymentType | The ExcludePaymentType parameter allows you to exclude certain payment types from the result set. Any valid entry (or combination) listed under the PaymentType parameter may be used.\n|Optional |Note: If you pass the same value in the PaymentType and ExcludePaymentType parameters, the entry in the ExcludePaymentType parameter will override the PaymentType and results of that type will be excluded.\n|TransType | If provided, only those transactions matching the TransType will be included.\n|Optional | Valid values are\n| |- ‘Authorization’ to retrieve previously-authorized (pre-auth) transactions\n| | - ‘Capture’ to retrieve captured transactions\n| |- ‘Credit’ to retrieve return transactions\n| |- ‘ForceCapture’ to retrieve force-auth transactions\n| |- ‘GetStatus’ to make an inquiry to the EBT or gift card’s balance\n| |- ‘PostAuth’ to retrieve post-auth transactions\n| |- ‘Purged’ to remove a transaction from the current batch due to an error\n| |- ‘Receipt’ to retrieve receipt images that were uploaded to the payment server\n| |- ‘RepeatSale’ to retrieve repeat-sale transactions\n| |- ‘Sale’ to retrieve sale transactions\n| |- ‘Void’ to retrieve void transactions\n| |Or any permutation of the above values, e.g. “‘Credit’,’Sale'” will pull all transactions with either Credit or Sale transaction types.\n|ExcludeTransType | The ExcludeTransType parameter allows you to exclude certain transaction types from the result set. Any valid entry (or combination) listed under the TransType parameter may be used.\n|Optional | Note: If you pass the same value in the TransType and ExcludeTransType parameters, the entry in the ExcludeTransType parameter will override the TransType and results of that type will be excluded.\n| |Note: A value of ‘Void’ in the ExcludeTransType parameter will be overridden by the ExcludeVoid if both parameters are used.\n| |This parameter accepts multiple values.\n|ApprovalCode | The approval code is a 6-character string (alphanumeric) generated by the issuing bank. The code is used the card issuer to verify the specific authorization when transactions are being settled. This field may also be used by payment processors to return error messages.\n|Optional | Note: You may only query one approval code at a time; however, approval codes are not necessarily unique and there is potential (rare) for more than one record to be returned.\n| Result| If provided, only those transactions matching the Result will be included.\n|Optional | Valid values are:\n| | - ‘NULL’ returns both approved and declined transactions\n| |- ‘0’ returns only approved transactions\n| |- Any other value for Result will return transactions matching that Result code.\n| |Note: to return only declined transactions do not pass a value for this parameter and instead set ExcludeResult = 0.\n|ExcludeResult | If provided, any transactions matching the ExcludeResult will be excluded.\n|Optional | Note: To return a only declined transactions, set ExcludeResult = 0.\n|NameOnCard | Cardholder’s name as it is appears on the card. If provided, only those transactions with cardholder’s name matching NameOnCard will be included. \n|Optional |Matching is done using wild cards: e.g. “test” will match “test”, “1test” and “1test234”.\n|CardNum |A card number. If provided, only those transactions with the card number matching CardNum will be included. Matching is done using wild cards.\n|Optional |\n|CardType | This field has been deprecated. Please use the PaymentType field to specify the type of card used in a transaction.\n|Optional | View [ExtData Field Definitions](#section/extdatadef) for more information.\n|ExcludeCardType |This field has been deprecated. Please use the ExcludePaymentType field to specify the type of cards you wish to be excluded from the result set.\n|Optional |\n|ExcludeVoid | The ExcludeVoid parameter allows you to exclude voided transactions from the result set.\n|Required unless a PNRef value is provided |\n| |Valid entries are:\n| |- ‘TRUE’ – voided transactions are excluded\n| |- ‘FALSE’ – voided transactions are included\n| |Note: A value of ‘Void’ in the ExcludeTransType parameter will be overridden by the ExcludeVoid if both parameters are used.\n|User |The user who originated the transactions. If provided, only those transactions created by the matching User will be included. \n|Optional | Matching is done using wild cards: e.g. “test” will match “test”, “1test” and “1test234”.\n|InvoiceId |The invoice ID that was included in the original transaction. If provided, only those transactions with matching invoiceId will be included. \n|Optional | Matching is done using wild cards: e.g. “test” will match “test”, “1test” and “1test234”\n|SettleFlag | The SettleFlag parameter allows you to choose whether settled or unsettled transactions are included in the results. \n|Optional | Valid entries are:\n| |- Unused/blank returns all transactions\n| |- ‘1’ – returns only settled transactions\n| |- ‘0’ – returns only transactions that are not yet settled\n|SettleMsg | The settlement ID or message returned from the host.\n|Optional |\n|SettleDt | The date of settlement.\n|Optional |\n|TransformType | The type of format to transform the data into. Leave the field blank to default to XML\n|Optional |\n| | - ‘XML’ will output the plain XML string\n| |- ‘XSL’ will use XSL to transform the XML output\n| |- ‘DELIM’ uses ColDelim and RowDelim to format the output\n|Xsl | This field is used only if the TransformType is XSL.\n|Optional | If provided, the resulting dataset will be transformed using this XSL. You may pass in a URL to the XSL file, or the XSL string itself. If this field is not empty, the Web Services will try to locate the file from the URL. If that also fails, it will treat it as an XSL string. In any case, the final XSL string will be loaded and validated against the XSL schema; if it passes, then that XSL will be used for transformation.\n| |A sample predefined XSL is included with this Web Services: \n| |_‘https://gateway.ibxpays.com/admin/ws/TabDelim.xsl’_ for a tab delimited transformation.\n| ColDelim|This field is used only if the TransformType is DELIM. This defines the string that separates each column.\n|Optional |\n| |e.g. a value of ‘@’, would separate each column value with ‘@’\n|RowDelim | This field is used only if the TransformType is DELIM. This defines the string that separates each row.\n|Optional |\n| |e.g. a value of ‘!’ would start each row with ‘!’\n|IncludeHeader | This field is used only if the TransformType is DELIM. If TRUE, then field headers will be included in the first row using the same delimiter strings; must either be TRUE or FALSE.\n|ExtData | The ExtData parameter allows you to pass additional information to the web service that is not covered under the input parameters. ExtData values need not be placed in any particular order; however, they must be properly formatted using XML tags.\n|Optional |  Extended data in XML format. Valid values are:\n| |- ‘<IMAGE_TYPE>NO_IMAGE</IMAGE_TYPE>’ – Will only return transaction data that does not include image data (to include signature data and check images)\n| |- ‘<IMAGE_TYPE>ONLY_IMAGE</IMAGE_TYPE>’ – Will only return transaction data that includes image data (to include signature data and check images)\n| |- ‘<IMAGE_TYPE>ALL</IMAGE_TYPE>’- will return transaction with or without image data\n| |- ‘<CustomerID>CustomerID</CustomerID>’ – specifies the customer ID value to search by. Matching is done using wild cards: e.g. “test” will match “test”, “1test” and “1test234”\n| |- ‘<Amount>Amount</Amount>’ – specifies the amount value of the transactions being searched for. In DDDDDD.CC format\n| |- ‘<RegisterNum>RegisterNum</RegisterNum>’ –  specifies the register number, originally passed with the transaction, to search by\n| |- <Timezone>Timezone</Timezone> – Used to convert the input and output (where applicable) date/time values to the desired timezone. When specified, the same timezone is used to convert the begin/end date parameters as well as the Date and Last Update output values. This field is optional, and if omitted all date/time values are treated as UTC.  Daylight savings time adjustments, where applicable, are handled automatically.  Accepted values are: \n| |   -- AKST – Alaskan Standard Time\n| |   -- CST – Central Standard Time\n| |   -- EST – Eastern Standard Time\n| |   -- HST – Hawaiian Standard Time\n| |   -- MST – Mountain Standard Time\n| |   -- AZMST – Arizona\n| |   -- PST – Pacific Standard Time\n\n\n# 4.2. GetCardTrxSummary   \n\nThe GetCardTrxSummary web service allows you to view summary data for one or more card transactions within a given date range. Optional filters allow you to collect summary data by card type, card owner, account number, register, settle or approval status, user, etc.\n\n## Request\nGetCardTrxSummary(UserName, Password, RPNum, BeginDt, EndDt, ApprovalCode, Register, NameOnCard, CardNum, CardType, ExcludeVoid, User, SettleFlag, SettleMsg, SettleDt, TransformType, Xsl, ColDelim, RowDelim, IncludeHeader, ExtData)\n\n```\nTrxDetailSoapClient reporting = new TrxDetailSoapClient(\"TrxDetailSoap\");\n\nreportingResponse = reporting.GetCardTrxSummary(\"username\", \"password\", \"5\",\n             \"7/11/2016\", \"7/11/2016\", \"\", \"\", \"\", \"\", \"\", \"true\",\n             \"\", \"\", \"\", \"\", \"\", \"\", \"\", \"\", \"\", \"\");\n```\n\n## Response\n\n```\n<PaymentMethod>\n    <Payment_Type_ID>VISA      </Payment_Type_ID>\n    <Authorization>0.0000</Authorization>\n    <Capture>0.0000</Capture>\n    <ForceCapture>0.0000</ForceCapture>\n    <PostAuth>0.0000</PostAuth>\n    <Return>0.0000</Return>\n    <Sale>57185.0000</Sale>\n    <Receipt>0.0000</Receipt>\n    <RepeatSale>0.0000</RepeatSale>\n    <Activate>0.0000</Activate>\n    <Deactivate>0.0000</Deactivate>\n    <Reload>0.0000</Reload>\n    <Authorization_Cnt>0</Authorization_Cnt>\n    <Capture_Cnt>0</Capture_Cnt>\n    <ForceCapture_Cnt>0</ForceCapture_Cnt>\n    <PostAuth_Cnt>0</PostAuth_Cnt>\n    <Return_Cnt>0</Return_Cnt>\n    <Sale_Cnt>11</Sale_Cnt>\n    <Receipt_Cnt>0</Receipt_Cnt>\n    <RepeatSale_Cnt>0</RepeatSale_Cnt>\n    <Activate_Cnt>0</Activate_Cnt>\n    <Deactivate_Cnt>0</Deactivate_Cnt>\n    <Reload_Cnt>0</Reload_Cnt>\n    <Cnt>11</Cnt>\n  </PaymentMethod>\n</CardTrxSummary>\n\n```\nView [TrxDetail Response Fields.](#section/trxdetail-response-fields)\n\n## GetCardTrxSummary Input Parameters\n Unless noted otherwise, the parameter is **required.**\n\n| Parameter Name| Description \n|-----|-----\n|UserName| User name assigned in the payment server. The user must have an appropriate security permissions in order for the system to return transaction records.\n|Password| Password for the user name assigned in the payment server.\n|RPNum| Unique numeric value used to identify the merchant for the query. The RPNum is assigned by the gateway and acts as the primary key for the merchant table.\n||Note: RPNum may also be called Merchant ID, Merchant Number, or Vendor Key.\n|BeginDt| Identifies the beginning date range for a group of transactions.\n|EndDt| Identifies the ending date range for a group of transactions.\n|ApprovalCode| The approval code is a 6-character string (alphanumeric) generated by the issuing bank. The code is used the card issuer to verify the specific authorization when transactions are being settled. This field may also be used by payment processors to return error messages.\n|Optional| Note: You may only query one approval code at a time; however, approval codes are not necessarily unique and there is potential (rare) for more than one record to be returned.\n|Register  Optional| The register is a unique string used to identify the register where the transaction took place. If used, only transactions made with the matching register number will be returned.\n|NameOnCard   Optional| If a card holder name is provided for this parameter, only those transactions with matching cardholder names will be returned. Matching is done using wild cards: e.g. “test” will match “test”, “1test” and “1test234”\n|CardNum   Optional|If a card number is provided for this parameter, only those transactions with matching card numbers will be returned. Matching is done using wild cards. e.g. “test” will match “test”, “1test” and “1test234”\n|CardType| The card type identifies the type of card used to make the transaction. If one or more card types are provided, only transactions with matching CardType will be included in the results.\n|Optional| Valid entries are:\n|| - Unused/blank returns summary information for all card types\n|| - ‘AMEX’ – American Express card\n|| - ‘CARTBLANCH’ – Carte Blanch card\n|| - ‘DEBIT’ – Debit card\n|| - ‘DINERS’ – Diners club card\n|| - ‘DISCOVER’ – Discover card\n|| - ‘EBT’ – Electronic benefit transfer\n|| - ‘JAL’ – Japanese Airlines card\n|| - ‘JCB’ – Japanese Commercial Bank card\n|| - ‘MASTERCARD’ – Master card\n|| - ‘VISA’ – Visa card\n|| - ‘EGC’ – Gift card\n|| Or any permutation of the above values, e.g. “’AMEX’,’MASTERCARD’” will pull all transactions with either AMEX or MASTERCARD payment types.\n|| View [ExtData Field Definitions](#section/extdatadef) for more information.\n|ExcludeVoid| The ExcludeVoid parameter allows you to exclude voided transactions from the result set.\n||Valid entries are\n||- ‘TRUE’ – voided transactions are excluded from summary information\n||- ‘FALSE’ – voided transactions are included from summary information\n|User| If provided, only transactions generated by users with a matching user ID will be included in the results. Matching is done using wild cards.\n|Optional| e.g. “test” will match “test”, “1test” and “1test234”\n|SettleFlag| The SettleFlag parameter allows you to choose whether settled or unsettled transactions are included in the results.\n|Optional|Valid entries are:\n||- Unused/blank returns summary information for settled and unsettled transactions\n|| - ‘1’ – returns only summary information for settled transactions\n|| - ‘0’ – return only summary information for transactions that are not yet settled\n|SettleMsg  Optional| The settlement message is an ID or message returned from the host upon settlement of a transaction. If provided, only the transaction that exactly matches the SettleMsg provided will be returned.\n|SettleDt   Optional| If provided, only transactions that were settled on the same date will be included in the results.\n|TransformType| Indicates how the result set should be formatted.\n|Optional| Valid entries are:\n|| - ‘XML’ – outputs a plain XML string\n|| - ‘XSL’ – uses XSL to format the XML output. If ‘XSL’ is selected, use the Xsl parameter to identify the XSL string that will be used to format the output.\n||- ‘DELIM’ – outputs records in a delimited format. If ‘DELIM’ is selected, you may also pass values for the ColDelim, RowDelim, and IncludeHeader parameters.\n|Xsl| This field is used only if the TransformType is XSL.\n|Optional| If provided, the resulting dataset will be transformed using this XSL. You may pass in a URL to the XSL file, or the XSL string itself. If this field is not empty, the Web Services will try to locate the file from the URL. If that also fails, it will treat it as an XSL string. In any case, the final XSL string will be loaded and validated against the XSL schema; if it passes, then that XSL will be used for transformation. A sample predefined XSL is included with this Web Services:\n||_‘https://gateway.ibxpays.com/admin/ws/TabDelim.xsl’_ for a tab delimited transformation\n|ColDelim| This field is used only if the TransformType is DELIM. This defines the string that separates each column.\n|Optional| e.g. a value of ‘@’, would separate each column value with ‘@’\n|RowDelim| This field is used only if the TransformType is DELIM. This defines the string that separates each row.\n|Optional| e.g. a value of ‘!’ would start each row with ‘!’\n|IncludeHeader| This field is used only if the TransformType is DELIM. If TRUE, then field headers will be included in the first row using the same delimiter strings; must either be TRUE or FALSE\n|ExtData| The ExtData parameter allows you to pass additional information to the web service that is not covered under the input parameters. ExtData values need not be placed in any particular order; however, they must be properly formatted using XML tags.\n|Optional| Extended data in XML format. Valid values are:\n||- <IMAGE_TYPE>NO_IMAGE</IMAGE_TYPE>’ – Will only return transaction data _thatdoes not_ include image data (to include signature data and check images)\n||- ‘<IMAGE_TYPE>ONLY_IMAGE</IMAGE_TYPE>’ – Will only return transaction data that _includes_ image data (to include signature data and check images)\n||- ‘<IMAGE_TYPE>ALL</IMAGE_TYPE>’- will return transaction with or without image data\n||- ‘<CustomerID>CustomerID</CustomerID>’ – specifies the customer ID value to search by. Matching is done using wild cards: e.g. “test” will match “test”, “1test” and “1test234”\n||- ‘<Amount>Amount</Amount>’ – specifies the amount value of the transactions being searched for. In DDDDDD.CC format\n||- ‘<RegisterNum>_RegisterNum_</RegisterNum>’ –  apecifies the register number, originally passed with the transaction, to search by\n||-<Timezone>Timezone</Timezone> – Used to convert the input and output (where applicable) date/time values to the desired timezone. When specified, the same timezone is used to convert the begin/end date parameters as well as the Date and Last Update output values. This field is optional, and if omitted all date/time values are treated as UTC.  Daylight savings time adjustments, where applicable, are handled automatically.  Accepted values are: \n|| -- AKST – Alaskan Standard Time\n|| -- CST – Central Standard Time\n|| -- EST – Eastern Standard Time\n|| -- HST – Hawaiian Standard Time\n|| -- MST – Mountain Standard Time\n|| -- AZMST – Arizona\n|| -- PST – Pacific Standard Time\n\n# 4.3. GetCheckTrx    \nThis web service returns one or more check transactions (with details) for a specific merchant.\n\nIn add
[...]
